coverage/
dist/iife/
guide/
legacy/
lib/
node/
src/
test/
*.spec.ts
.*
CHANGELOG.md
commitlint.config.js
CONTRIBUTING.md
build-definitions.js
deploy.js
karma.conf.*
rollup.config.js
tsconfig*
tslint*
