language: node_js

cache:
  directories:
    - "node_modules"

node_js:
 - "8"

before_script:
  - npm run build

after_script: "npm install coveralls && cat ./coverage/node/lcov.info ./coverage/web/lcov.info | coveralls"
