.form-control {
  display: inline-block;
  height: 1.5rem;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  width: auto;
  vertical-align: middle;
}

.btn {
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  display: inline-block;
  color: #212529;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  color: #fff;
}

.btn-secondary {
  background-color: $secondary;
  border-color: $secondary;
  color: #fff;
}
